@import '../../../../assets/styl/utils.styl'

  [data-component='article']
    display block
    background-color darkblue
    color white
    padding 20px
    text-align center

    h3
      margin-top 0

    a
      color white
