@import '../assets/styl/utils.styl'

[data-component='app']
  display block

  h1
    font-size 36px
    +breakpoint( tablet )
      font-size 24px
    +breakpoint( large-mobile )
      font-size 12px
