<div data-page="index">

  <div class="container">
    <h1>Página Inicial</h1>
    <div class="row">
      <div class="col-md-4" *ngFor="let article of articles">
        <app-article [article]="article"></app-article>
      </div>
    </div>
    <app-slider></app-slider>
  </div>

</div>
