<h1>slider</h1>
<!-- <ngx-slick class="slider" [config]="slideConfig">
  <div ngxSlickItem class="slider-item">
    <h1>Item slider</h1>
  </div>
  <div ngxSlickItem class="slider-item">
    <h1>Item slider</h1>
  </div>
  <div ngxSlickItem class="slider-item">
    <h1>Item slider</h1>
  </div>
</ngx-slick> -->
